<% include ../partials/head.ejs %>
<% include ./partials/admin-header.ejs %>
<% include ./partials/admin-primaryNavigation.ejs %>
<main role="main" class="adminPage">
	<div class="forsideText">

<h1><%= title %></h1>

</div>
</main>
<% include ./partials/admin-footer.ejs %>
<script>


</script>
<% include ../partials/after-footer.ejs %>