<footer tabindex="0" class="siteFooter" role="contentinfo">
	<p class="footerContent">Copyright &copy; <time datetime="2019">Oluf Graversvejs Kontorfællesskab - Oluf Graversvej 42, 2. sal - 2200 København N - Tlf.: 25 648 194 - E-mail: kontor@vlp-udlejning.dk 2019</time></p>
</footer>
</div>
