<nav class="adminPrimaryNavigation" role="navigation">
	<div class="">
	<ul id="myAdminSidenav">		
		<li><a href="/admin"><i class="fas fa-home"></i> Forside</a></li>
		<li><a href="/admin/menu"><i class="fas fa-box-open"></i>Menu</a></li>
		<li><a href="/admin/kategori"><i class="fas fa-box-open"></i>Kategori</a></li>
		<li><a href="/admin/annoncer"><i class="fas fa-box-open"></i>Annoncer</a></li>
		<li><a href="/admin/side"><i class="fas fa-box-open"></i>Side</a></li>
		<li><a href="/admin/brugere"><i class="fas fa-box-open"></i>Brugere</a></li>
		<hr>
		<li><a href="/"><i class="fas fa-box-open"></i>frontend</a></li>
		<hr>
		<div class="adminHeaderLogout"><a href="/auth/logout">LOG UD <i class="fas fa-sign-out-alt"></i></a></div>
	</ul>
</div>
</nav>
